*
    {
        box-sizing: border-box;
}
    body{
        background-color: #1E1E1E;
        margin: 0;
    }

    .box{
        width: 1515px;
        height: 780px;
        background-color: #070F11;
    }    
    .text{
        color: white;
    }

    .image{
        width:928px;
        height: 930px;
        margin-left: 606px;
        margin-top:-1000px;
    }